<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script type="text/javascript">
    <title>Review screen</title>


    function FP_preloadImgs() {//v1.0
     var d=document,a=arguments; if(!d.FP_imgs) d.FP_imgs=new Array();
     for(var i=0; i<a.length; i++) { d.FP_imgs[i]=new Image; d.FP_imgs[i].src=a[i]; }
    }
    
    function FP_swapImg() {//v1.0
     var doc=document,args=arguments,elm,n; doc.$imgSwaps=new Array(); for(n=2; n<args.length;
     n+=2) { elm=FP_getObjectByID(args[n]); if(elm) { doc.$imgSwaps[doc.$imgSwaps.length]=elm;
     elm.$src=elm.src; elm.src=args[n+1]; } }
    }
    
    function FP_getObjectByID(id,o) {//v1.0
     var c,el,els,f,m,n; if(!o)o=document; if(o.getElementById) el=o.getElementById(id);
     else if(o.layers) c=o.layers; else if(o.all) el=o.all[id]; if(el) return el;
     if(o.id==id || o.name==id) return o; if(o.childNodes) c=o.childNodes; if(c)
     for(n=0; n<c.length; n++) { el=FP_getObjectByID(id,c[n]); if(el) return el; }
     f=o.forms; if(f) for(n=0; n<f.length; n++) { els=f[n].elements;
     for(m=0; m<els.length; m++){ el=FP_getObjectByID(id,els[n]); if(el) return el; } }
     return null;
    }
    // -->
    </script>
    <style type="text/css">
    .auto-style1 {
        font-size: medium;
        text-transform: uppercase;
    }
    .auto-style2 {
        font-size: medium;
    }
    .auto-style3 {
	background-color: #FFFF00;
}
    </style>
    </head>
    
    &nbsp;<div style="text-align: center">
    <!--↑で中央ぞろえをする-->
        <div>
            <h1>ユーザ評価</h1>
            <p>どちらかまたは二種類にお答えください</p>
    
    <button onclick="location.href='#script_review'" style="width: 213px; height: 57px">
    <span class="auto-style1">文章レビュー</span><br class="auto-style2"></button>
    
    <br><br>
    
    <button onclick="location.href='#script_review'" style="width: 207px">
    <span class="auto-style2">数値によるレビュー</span></a></button>
    
            <br><br>

    <!--ここから文章入力レビューフォーム-->      
    <div style="height: 292px">
    <a id="script_review">文章レビュー項目<br></a>
		<form method="post">
			<br>
    <label class="label"><span class="auto-style3">⇩こちらから入力してください</span></label>
			<br>
        <br>
        <textarea id="test" style="width: 406px; height: 186px"></textarea>        
        
        <br><br><br><br><br><br>
		
        </form>
			</div>
            <body>
            <form action="" name="searchForm">
         	   <div class="searchFrame">
        <button onclick="location.href='hello.html'">文章を送信する</button>
        <div class=”btn-area”>
        <button onclick="ClearButton_Click()">文章をリセット</button>
    <head>

    <!--↑ここまで-->
    <div class=”item”>
        <br>
    <a id="else_review">こちらから数字を入力してください</a><br>

    <form>
            <p>このユーザとの交流した気分を教えてください</p>
            <form action="/dest.html" method="GET">
            <div class="suutiwookuru">
            <label for="4point">4</label>
            <input type="radio" id="radio4" name="radio" value="4" checked>
            <br>
            <label for="3point">3</label>
            <input type="radio" id="radio3" name="radio" value="3">
            <br>
            <label for="2point">2</label>
            <input type="radio" id="radio2" name="radio" value="2">
            <br>
            <label for="1point">1</label>
            <input type="radio" id="radio1" name="radio" value="1">
        </div>
        <br>
        <button><a href="login">数字レビューを送信</a></button>
   </form>

            <button><a href="login">評価をせずに終了</button>
            </div>
            <br>
            <button><a href="login">次のページへ</a></button>
            </head>

            </div>

    </form>

</html>